.google-login-btn {
    justify-content: center;
    background-image: url('../../../../assets/google-logo.png');
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 10%;
    padding-left: 5%;
}

mat-card {
    justify-content: center;
    margin: 10% auto;
    width: 50%;
}

mat-form-field {
    width: 100%;
}